
@{
    ViewBag.Title = "ProjectSingle";
}

<!-- .breadcumb-area start -->
<div class="breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb-wrap text-center">
                    <h2>Project Single</h2>
                    <ul>
                        <li><a href="@Url.Action("index", "home")">Home</a></li>
                        <li><span>Project Single</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .breadcumb-area end -->
<!-- start project-single-section -->
<section class="project-single-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-8">
                <div class="project-content">
                    <div class="img-holder">
                        <img src="~/Public/images/project-single/img-1.jpg" alt>
                    </div>
                    <h2>Strategy & Research</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. </p>
                    <p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour.</p>
                    <ul>
                        <li>Randomised words which don't look even slightly believable.</li>
                        <li>It uses a dictionary of over 200 Latin words</li>
                        <li>All the Lorem Ipsum generators on the Internet tend to repeat predefined.</li>
                        <li>You need to be sure there isn't anything embarrassing hidden.</li>
                        <li>The generated Lorem Ipsum is therefore.</li>
                    </ul>
                    <div class="pagi">
                        <ul>
                            <li><a href="#">Previous</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="service-sidebar">
                    <div class="widget project-info-widget">
                        <h3>Project Information</h3>
                        <ul>
                            <li><span>Project Title: </span> Digital Marketing Solution </li>
                            <li><span>Client: </span> Robert Symon</li>
                            <li><span>Date: </span> 20 December 2018</li>
                            <li><span>Project Value:</span> $5500</li>
                            <li><span>Category: </span> SEO </li>
                            <li><span>Status : </span> Completed </li>
                            <li><span>live link : </span> <a href="#">http://demo.com</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
    <div class="ab-svg_color">
        <svg x="0px" y="0px"
             viewBox="0 0 1920 289" enable-background="new 0 0 1920 289" xml:space="preserve">
        <path fill="#fff" d="M959,169C582.541,169,240.253,104.804-14.125,0H0v289h1920V0h12.125C1677.747,104.804,1335.459,169,959,169
                    z" />

               </svg>
    </div>
</section>
<!-- end project-single-section -->
