
@{
    ViewBag.Title = "PricingTable";
}
<!-- .breadcumb-area start -->
<div class="breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb-wrap text-center">
                    <h2>Pricing</h2>
                    <ul>
                        <li><a href="@Url.Action("index", "home")">Home</a></li>
                        <li><span>Pricing</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .breadcumb-area end -->
<!-- pice-area start -->
<div class="pricing-area">
    <div class="ab-svg_color">
        <svg x="0px" y="0px"
             viewBox="0 0 1920 289" enable-background="new 0 0 1920 289" xml:space="preserve">
        <path fill="#fff" d="M959,169C582.541,169,240.253,104.804-14.125,0H0v289h1920V0h12.125C1677.747,104.804,1335.459,169,959,169
                    z" />

               </svg>
    </div>
    <div class="container">
        <div class="section-title text-center">
            <span>We Give You The Best</span>
            <h2>Our Pricing Plan</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-l2 col-md-6 col-sm-12 p-out">
                        <div class="price-item">
                            <div class="pricing-header">
                                <h3>BASIC</h3>
                            </div>
                            <div class="pricing-table">
                                <div class="price-sub-header pricing-header-c">
                                    <h4><span>$</span>50</h4>
                                    <h5>Per Month</h5>
                                </div>
                                <ul>
                                    <li>Strategy & Research</li>
                                    <li>Business & Finance Analysing</li>
                                    <li>SEO Optimization</li>
                                    <li>Managment & Marketing</li>
                                    <li>Website Design & Development</li>
                                    <li>24/7 Customer Support</li>
                                </ul>
                                <div class="pricing-footer">
                                    <div class="theme-btn"><a href="#">Get Started</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-l2 col-md-6 col-sm-12 p-out">
                        <div class="price-item price-item-2">
                            <div class="pricing-header">
                                <h3>ULTRA</h3>
                            </div>
                            <div class="pricing-table pricing-table-2">
                                <div class="price-sub-header">
                                    <h4><span>$</span>50</h4>
                                    <h5>Per Month</h5>
                                </div>
                                <ul>
                                    <li>Strategy & Research</li>
                                    <li>Business & Finance Analysing</li>
                                    <li>SEO Optimization</li>
                                    <li>Managment & Marketing</li>
                                    <li>Website Design & Development</li>
                                    <li>24/7 Customer Support</li>
                                </ul>
                                <div class="pricing-footer pricing-footer-2">
                                    <div class="theme-btn"><a href="#">Get Started</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-l2 col-md-6 col-sm-12 p-out p-out-t">
                        <div class="price-item price-item-3">
                            <div class="pricing-header">
                                <h3>PRO</h3>
                            </div>
                            <div class="pricing-table">
                                <div class="price-sub-header pricing-header-b">
                                    <h4><span>$</span>50</h4>
                                    <h5>Per Month</h5>
                                </div>
                                <ul>
                                    <li>Strategy & Research</li>
                                    <li>Business & Finance Analysing</li>
                                    <li>SEO Optimization</li>
                                    <li>Managment & Marketing</li>
                                    <li>Website Design & Development</li>
                                    <li>24/7 Customer Support</li>
                                </ul>
                                <div class="pricing-footer">
                                    <div class="theme-btn"><a href="#">Get Started</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pice-area end -->
