
    <section class="about-section-s2">
        <div class="content-area">
            <div class="left-content">
                <img src="~/Public/images/about-pic2.png" alt>
            </div>
            <div class="right-content">
                <div class="about-content">
                    <div class="section-title-s2">
                        <span>About us</span>
                        <h2>Be on the Top & Get More Traffic to Your Website</h2>
                    </div>
                    <div class="details">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
                        <div class="dots-section">
                            <span>The point of using seo mareting agency</span>
                            <span>There are many variations of passages of Lorem Ipsum </span>
                            <span>It is a long established fact </span>
                        </div>
                        <a href="#" class="theme-btn">More About Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ab-svg_color">
            <svg x="0px" y="0px"
                 viewBox="0 0 1920 289" enable-background="new 0 0 1920 289" xml:space="preserve">
            <path fill="#f8f8f8" d="M959,169C582.541,169,240.253,104.804-14.125,0H0v289h1920V0h12.125C1677.747,104.804,1335.459,169,959,169
                    z" />
               </svg>
        </div>
    </section>
