<div class="service-area bg-animate-shape ptb-100-70">
    <div class="ab-color_svg ab-svg_color">
        <svg x="0px" y="0px"
             viewBox="0 0 1920 289" enable-background="new 0 0 1920 289" xml:space="preserve">
        <path fill="#fff" d="M959,169C582.541,169,240.253,104.804-14.125,0H0v289h1920V0h12.125C1677.747,104.804,1335.459,169,959,169
                    z" /></svg>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="section-title text-center">
                <h2>Our Best Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-section">
                    <div class="services-wrapper">
                        <div class="services-icon-wrapper">
                            <i class="fi flaticon-chart"></i>
                        </div>
                        <div class="service-content">
                            <h2>Web Analytics</h2>
                            <p> It is a long established fact that a reader will be distracted by the readable content</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-section">
                    <div class="services-wrapper">
                        <div class="services-icon-wrapper">
                            <i class="fi flaticon-computer"></i>
                        </div>
                        <div class="service-content">
                            <h2>Technical SEO Audit</h2>
                            <p> It is a long established fact that a reader will be distracted by the readable content</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-section">
                    <div class="services-wrapper">
                        <div class="services-icon-wrapper">
                            <i class="fi flaticon-money"></i>
                        </div>
                        <div class="service-content">
                            <h2>Online Marketing</h2>
                            <p> It is a long established fact that a reader will be distracted by the readable content</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-section">
                    <div class="services-wrapper">
                        <div class="services-icon-wrapper">
                            <i class="fi flaticon-objective"></i>
                        </div>
                        <div class="service-content">
                            <h2>Site Mapping</h2>
                            <p> It is a long established fact that a reader will be distracted by the readable content</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-section">
                    <div class="services-wrapper">
                        <div class="services-icon-wrapper">
                            <i class="fi flaticon-bullhorn"></i>
                        </div>
                        <div class="service-content">
                            <h2>Media Promotion</h2>
                            <p> It is a long established fact that a reader will be distracted by the readable content</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-section">
                    <div class="services-wrapper">
                        <div class="services-icon-wrapper">
                            <i class="fi flaticon-startup"></i>
                        </div>
                        <div class="service-content">
                            <h2>Managment & Marketing</h2>
                            <p> It is a long established fact that a reader will be distracted by the readable content</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
