<section class="quote-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title">
                    <h2>Get your free quote today</h2>
                    <p>Pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. What's happened to me?" he thought.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <div class="analysis-form">
                    <form>
                        <div class="input-1">
                            <input type="email" class="form-control" placeholder="Email Address *" required>
                        </div>
                        <div class="input-2">
                            <input type="text" class="form-control" placeholder="Website url *" required>
                        </div>
                        <div class="submit clearfix">
                            <button type="submit" class="theme-btn">Submit Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="ab-color_svg ab-svg_color">
        <svg x="0px" y="0px"
             viewBox="0 0 1920 289" enable-background="new 0 0 1920 289" xml:space="preserve">
        <path fill="#f8f8f8" d="M959,169C582.541,169,240.253,104.804-14.125,0H0v289h1920V0h12.125C1677.747,104.804,1335.459,169,959,169z" /></svg>
    </div>
</section>
