<div class="testimonial-area">
    <div class="ab-color_svg ab-svg_color-m">
        <svg x="0px" y="0px"
             viewBox="0 0 1920 289" enable-background="new 0 0 1920 289" xml:space="preserve">
        <path fill="#fff" d="M959,169C582.541,169,240.253,104.804-14.125,0H0v289h1920V0h12.125C1677.747,104.804,1335.459,169,959,169
                    z" />

               </svg>
    </div>
    <div class="container">
        <div class="testimonial-active owl-carousel">
            <div class="testimonial-wrap">
                <div class="testimonial-item">
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo.</p>
                    </div>
                    <div class="testimonial-sub">
                        <div class="testimonial-img">
                            <img src="~/Public/images/testimonials/img-1.jpg" alt="">
                        </div>
                        <div class="testimonial-tumb-content">
                            <h4>Jenelia Watson</h4>
                            <span>Ceo Of Aroma Brand</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-wrap">
                <div class="testimonial-item">
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo.</p>
                    </div>
                    <div class="testimonial-sub">
                        <div class="testimonial-img">
                            <img src="~/Public/images/testimonials/img-2.jpg" alt="">
                        </div>
                        <div class="testimonial-tumb-content">
                            <h4>John Doe</h4>
                            <span>Ceo Of Aroma Brand</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
