
@{
    ViewBag.Title = "Index2";
}
<!-- start of hero -->
<section class="hero hero-slider-wrapper hero-style-3 hero-style-2">
    <div class="hero-slider">
        <div class="slide">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-sm-8 slide-caption">
                        <div class="slide-title">
                            <h2>Largest SEO Agency in Europe </h2>
                        </div>
                        <div class="slide-subtitle">
                            <p>Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and.</p>
                        </div>
                        <div class="btns">
                            <a href="#" class="theme-btn">Learn More</a>
                        </div>
                        <div class="slider-pic">
                            <img src="~/Public/images/slider/img-1.png" alt>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-sm-8 slide-caption">
                        <div class="slide-title">
                            <h2>Largest SEO Agency in Europe </h2>
                        </div>
                        <div class="slide-subtitle">
                            <p>Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and.</p>
                        </div>
                        <div class="btns">
                            <a href="#" class="theme-btn">Learn More</a>
                        </div>
                        <div class="slider-pic slider-pic-2">
                            <img src="~/Public/images/slider/img-2.png" alt>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of hero slider -->
<!-- start about-section -->
@{
    Html.RenderPartial("~/Views/Shared/_AboutUs.cshtml");
}
<!-- end about-section -->
<!-- service-area start -->
@{
    Html.RenderPartial("~/Views/Shared/_OurBestServices.cshtml");
}
<!-- end service-area -->
<!--Start project area-->
<!-- start quote-section -->
@{
    Html.RenderPartial("~/Views/Shared/_Quota.cshtml");
}
<!-- end quote-section -->

<!-- counter-area start -->
<div class="counter-area counter-area-2">
    <div class="color_svg svg_color">
        <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
            <polygon fill="#fff" points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 " />
        </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="counter-grids">
                    <div class="grid">
                        <div>
                            <h2><span class="odometer" data-count="3200">00</span>+</h2>
                        </div>
                        <p>Compleated Projects</p>
                    </div>
                    <div class="grid grid-2">
                        <div>
                            <h2><span class="odometer" data-count="108">00</span>k</h2>
                        </div>
                        <p>Worldwide Users</p>
                    </div>
                    <div class="grid grid-4">
                        <div>
                            <h2><span class="odometer" data-count="25">00</span>+</h2>
                        </div>
                        <p>Years Of Experience</p>
                    </div>
                    <div class="grid grid-3">
                        <div>
                            <h2><span class="odometer" data-count="50">00</span>+</h2>
                        </div>
                        <p>Award Winner</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter-area end -->
<!-- start Project-section -->
<section class="project-section project-section-2 bg-animate-shape">
    <div class="color_svg svg_color">
        <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
            <polygon fill="#f8f8f8" points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 " />
        </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title">
                    <span>What We Do</span>
                    <h2>Our Featured Project</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="project-grids clearfix">
                    <div class="grid">
                        <div class="entry-media">
                            <img src="~/Public/images/portfolio/img-1.jpg" alt>
                        </div>
                        <div class="project-content">
                            <h2>Trafic Management</h2>
                            <span>Marketing</span>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="entry-media">
                            <img src="~/Public/images/portfolio/img-2.jpg" alt>
                        </div>
                        <div class="project-content">
                            <h2>Digital Marketing</h2>
                            <span>SEO</span>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="entry-media">
                            <img src="~/Public/images/portfolio/img-3.jpg" alt>
                        </div>
                        <div class="project-content">
                            <h2>Social Marketing</h2>
                            <span>SEO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->

</section>
<!-- end Project-section -->
<!-- testimonial-area start -->
<div class="testimonial-area testimonial-area-2">
    <div class="color_svg svg_color">
        <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
            <polygon fill="#fff" points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 " />
        </svg>
    </div>
    <div class="container">
        <div class="testimonial-active owl-carousel">
            <div class="testimonial-wrap">
                <div class="testimonial-item">
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo.</p>
                    </div>
                    <div class="testimonial-sub">
                        <div class="testimonial-img">
                            <img src="~/Public/images/testimonials/img-1.jpg" alt="">
                        </div>
                        <div class="testimonial-tumb-content">
                            <h4>Jenelia Watson</h4>
                            <span>Ceo Of Aroma Brand</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-wrap">
                <div class="testimonial-item">
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo.</p>
                    </div>
                    <div class="testimonial-sub">
                        <div class="testimonial-img">
                            <img src="~/Public/images/testimonials/img-2.jpg" alt="">
                        </div>
                        <div class="testimonial-tumb-content">
                            <h4>John Doe</h4>
                            <span>Ceo Of Aroma Brand</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial-area end -->
<!-- start blog-section -->
<section class="blog-section blog-section-2 bg-animate-shape">
    <div class="color_svg svg_color">
        <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
            <polygon fill="#f8f8f8" points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 " />
        </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title">
                    <span>Our Blog</span>
                    <h2>Latest News</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12 recent-Blog-thumbs">
                <div class="recent-Blog-thumbs-outer">
                    <div class="recent-blog-thumb active-thumb ct-m" data-case="#blog-content-1">
                        <div class="img-holder">
                            <img src="~/Public/images/blog/img-1.jpg" alt>
                        </div>
                        <div class="overlay-text">
                            <div class="text-inner">
                                <h3>Digital Marketing</h3>
                            </div>
                        </div>
                    </div>
                    <div class="recent-blog-thumb" data-case="#blog-content-2">
                        <div class="img-holder">
                            <img src="~/Public/images/blog/img-2.jpg" alt>
                        </div>
                        <div class="overlay-text">
                            <div class="text-inner">
                                <h3>Rules of Marketing</h3>
                            </div>
                        </div>
                    </div>
                    <div class="recent-blog-thumb ct-t" data-case="#blog-content-3">
                        <div class="img-holder">
                            <img src="~/Public/images/blog/img-3.jpg" alt>
                        </div>
                        <div class="overlay-text">
                            <div class="text-inner">
                                <h3>Future Marketing</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-12 recent-Blog-content">
                <div class="recent-Blog-content-outer">
                    <div class="recent-blog-data active-blog-data" id="blog-content-1">
                        <ul class="entry-meta">
                            <li>
                                <img src="~/Public/images/blog/author.jpg" alt>
                                By <a href="#">Lily Anne</a>
                            </li>
                            <li>Octobor 12,2019</li>
                        </ul>
                        <h3><a href="#">30 Brands with the Best Digital Marketing</a></h3>
                        <p>Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then.e, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower armn.</p>
                        <a href="#" class="theme-btn">Blog Details</a>
                    </div>
                    <div class="recent-blog-data" id="blog-content-2">
                        <ul class="entry-meta">
                            <li>
                                <img src="~/Public/images/blog/author.jpg" alt>
                                By <a href="#">Lily Anne</a>
                            </li>
                            <li>Octobor 12,2019</li>
                        </ul>
                        <h3><a href="#">25 Rules to successful in your business.</a></h3>
                        <p>It showed a lady of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then.e, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower armn.</p>
                        <a href="#" class="theme-btn">Blog Details</a>
                    </div>
                    <div class="recent-blog-data" id="blog-content-3">
                        <ul class="entry-meta">
                            <li>
                                <img src="~/Public/images/blog/author.jpg" alt>
                                By <a href="#">Lily Anne</a>
                            </li>
                            <li>Octobor 12,2019</li>
                        </ul>
                        <h3><a href="#">What Is The Future Of Digital Marketing?</a></h3>
                        <p>Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then.e, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower armn.</p>
                        <a href="#" class="theme-btn">Blog Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-section -->
<!-- pice-area start -->
<div class="pricing-area">
    <div class="color_svg svg_color">
        <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
            <polygon fill="#fff" points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 " />
        </svg>
    </div>
    <div class="container">
        <div class="section-title text-center">
            <span>We Give You The Best</span>
            <h2>Our Pricing Plan</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-l2 col-md-6 col-sm-12 p-out">
                        <div class="price-item">
                            <div class="pricing-header">
                                <h3>BASIC</h3>
                            </div>
                            <div class="pricing-table">
                                <div class="price-sub-header pricing-header-c">
                                    <h4><span>$</span>50</h4>
                                    <h5>Per Month</h5>
                                </div>
                                <ul>
                                    <li>Strategy & Research</li>
                                    <li>Business & Finance Analysing</li>
                                    <li>SEO Optimization</li>
                                    <li>Managment & Marketing</li>
                                    <li>Website Design & Development</li>
                                    <li>24/7 Customer Support</li>
                                </ul>
                                <div class="pricing-footer">
                                    <div class="theme-btn"><a href="#">Get Started</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-l2 col-md-6 col-sm-12 p-out">
                        <div class="price-item price-item-2">
                            <div class="pricing-header">
                                <h3>ULTRA</h3>
                            </div>
                            <div class="pricing-table pricing-table-2">
                                <div class="price-sub-header">
                                    <h4><span>$</span>50</h4>
                                    <h5>Per Month</h5>
                                </div>
                                <ul>
                                    <li>Strategy & Research</li>
                                    <li>Business & Finance Analysing</li>
                                    <li>SEO Optimization</li>
                                    <li>Managment & Marketing</li>
                                    <li>Website Design & Development</li>
                                    <li>24/7 Customer Support</li>
                                </ul>
                                <div class="pricing-footer pricing-footer-2">
                                    <div class="theme-btn"><a href="#">Get Started</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-l2 col-md-6 col-sm-12 p-out p-out-t">
                        <div class="price-item price-item-3">
                            <div class="pricing-header">
                                <h3>PRO</h3>
                            </div>
                            <div class="pricing-table">
                                <div class="price-sub-header pricing-header-b">
                                    <h4><span>$</span>50</h4>
                                    <h5>Per Month</h5>
                                </div>
                                <ul>
                                    <li>Strategy & Research</li>
                                    <li>Business & Finance Analysing</li>
                                    <li>SEO Optimization</li>
                                    <li>Managment & Marketing</li>
                                    <li>Website Design & Development</li>
                                    <li>24/7 Customer Support</li>
                                </ul>
                                <div class="pricing-footer">
                                    <div class="theme-btn"><a href="#">Get Started</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- pice-area end -->
