
@{
    ViewBag.Title = "Index";
}
<!-- .breadcumb-area start -->
<div class="breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb-wrap text-center">
                    <h2>Service</h2>
                    <ul>
                        <li><a href="@Url.Action("index", "home")">Home</a></li>
                        <li><span>Service</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .breadcumb-area end -->

<!-- service-area start -->
@{
    Html.RenderPartial("~/Views/Shared/_OurBestServices.cshtml");
}
<!-- end service-area -->
